$color-normal: #ffffff;
$color-blue: #0d47a1;

$color-bg-light-black: #303036;
$color-bg-black: #2d2d2e;
$color-bg-gray: #eceff1;
$color-bg-header: #2c2d36;
$color-bg-overlay: rgba(44, 45, 54, 0.65);
$color-bg-btn-disable: #eceff1;

$color-border-gray: #cfd8dc;

$color-text-black: #37474f;
$color-text-header: #85858c;
$color-text-nav-unselected: #6d8591;
$color-text-label: #90a4ae;